<div class="main-cont">
    <div class="header">
  
    </div>
    <div class="wraper">
      <div class="back back1">
        <div class="back1--inner">
          <div class="content"
            MyScrll
            [ratio]=".3"
          >
            <h2 class="back1--text">This Is inner text</h2>
            <img src="../../../assets/code/img/old/2221.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="wraper">
      <div class="back back2">
        <div class="back2--inner"
          MyScrll
          [ratio]=".3"
        >
          <div class="content">
            <h2 class="back1--text">This Is inner text</h2>
            <img src="../../../assets/code/img/old/4441.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="wraper">
      <div class="back back3">
        <div class="back3--inner">
          <div class="content">
            <h2 class="back1--text">This Is inner text</h2>
            <img src="../../../assets/code/img/old/6661.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
  
    </div>
  </div>
  