<div class="scroll-col">
    <header class="scroll-col--header">
      <h1>This is my header</h1>
    </header>
    <header class="scroll-col--header">
      <h1>This is my header</h1>
    </header>
    <header class="scroll-col--header">
      <h1>This is my header</h1>
    </header>
    <header class="scroll-col--header">
      <h1>This is my header</h1>
    </header>
    <header class="scroll-col--header">
      <h1>This is my header</h1>
    </header>
    <header class="scroll-col--header">
      <h1>This is my header</h1>
    </header>
    <header class="scroll-col--header">
      <h1>This is my header</h1>
    </header>
    <div class="scroll-col--banner"
    MyScrll
    [ratio]=".5"
    >
      <h2>This is the banner</h2>
      <div class="cards" id="skrollr-body"
      
      >
        <div  
          class="cards--item"
        ></div>
        <div 
          
          class="cards--item"
        ></div>
        <div 
          
          class="cards--item"
        ></div>
      </div>
    </div>
    <button>clicke</button>
    <div class="scroll-col--content">
        
      <p>Content goes heare</p>
    </div>
  </div>
  <script>
  sele
  </script>