<div class="about">
  <div class="about--wrapper">
    <div class="about--back"
    
    >
      
      <div class="objects"
      appScroll1
      >
      <div class="about--text">
          <h2 class="about--text_heading"
          >
            About Us
          </h2>
          <span class="about--text_text">
              Code Designs is a complete web solutions & Design company. We help businesses develop their Design strategy from ground and up. We understand the importance of Design DATA and use it to achieve business objectives. Every business is different , we spend time understanding your process and add value by customizing solutions based on your business goals and requirements. Cutting to the chase. Right from the start we are committed to open communication, co-operation, and collaboration. We ensure that our clients receive the most cost effective solutions without compromising on quality.        
          </span>
        </div>
        <div class="objects--pens"
        >
            <!-- <img src="../../../../assets/code1/img/logo/old/10001.png" alt=""> -->
          <img src="../../../../assets/rev/inspiration-header/assets/header_penpot.png" alt="">
        </div>
        <div class="objects--paper"
        >
          <img src="../../../../assets/rev/inspiration-header/assets/header_papers.png" alt="">
        </div>
        <div class="objects--plant"
        >
            <!-- <img src="../../../../assets/rev/inspiration-header/assets/header_penpot.png" alt=""> -->
          <img src="../../../../assets/rev/inspiration-header/assets/header_flowerpot.png" alt="">
        </div>
        <div class="objects--tablet"
        >
          <img src="../../../../assets/rev/inspiration-header/assets/header_tablet.png" alt="">
        </div>
        <div class="objects--styles">
          <img src="../../../../assets/rev/inspiration-header/assets/header_pen.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
