// .scroll-col--content{
//     width: 100%;
//     height: 600px;
// }

.scroll-col {
    text-align: center;

    &--header {
        height: 500px;
        width: 100%;
        background-color: #dbdbdb;
        // z-index: 5;
        // position: fixed;
    }

    &--banner {
        position: relative;
        width: 100%;
        height: 700px;
        // position: inherit;
        // top: 100px;
        color: #fff;
        background-image: url('../../../../assets/img/nike1/firstBG.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        // background-position: center;

        h2 {
            display: block;
            padding-top: 30px;
        }
    }

    &--content {
        width: 100%;
        height: 600px;
        // position: relative;
        // top: 600px;
        background: #ebebeb;
    }
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // background-color: rebeccapurple;
    transform: translateY(25%);
    margin: 0 auto;
    width: 80%;
    // height: 100px;

    &--item {
        border-radius: 15px;
        margin: 55px 0;
        background-color: #dbdbdb;
        width: 25%;
        height: 300px;
    }
}